*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 5rem;
    background: rgb(68, 70, 75);
    color: whitesmoke;
}
.logo{
    width: 16%;
    height: 4rem;
    /* background: red; */
    float: left;
}
.logo > img{
    width: 10rem;
    height: 6rem;
    float: left;
    position: relative;
    top: -0.5rem;
}
.logo > h3{
    float: right;
    position: relative;
    top: 2rem;
    font-size: 1.6rem;
}
.men{
    float: right;
    width: 50rem;
    height: 5rem;
    /* background: red; */
}
.men > ul{
    list-style: none;
    width: 50rem;
    height: 5rem;
    /* background: green; */
    display: flex;
    align-items: center;
}
.men > ul > li{
    width: 10rem;
    height: 2rem;
    /* background: yellow; */
    float: left;
    padding-right: 0.5rem;
    font-weight: 900;
}
header{
    width: 100%;
    height: 40rem;
    background: rgb(0, 0, 0);
}
header > img{
    width: 100%;
    height: 40rem;
    opacity: 0.7;
}
#art_1{
    width: 80%;
    height: 45rem;
    /* background: yellowgreen; */
    margin: auto;
}
.texto_titulo{
    width: 100%;
    height: 15%;
    /* background: rgb(231, 231, 153); */
    text-align: center;
}
.texto_titulo > h3{
    padding-top: 1rem;
    color: rgb(155, 144, 155);
}
.cartas{
    width: 100%;
    height: 85%;
    /* background: rgb(194, 124, 124); */
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.cart_1{
    width: 26rem;
    height: 36rem;
    /* background: #ccc; */
    border: 1px solid rgb(216, 210, 210);
} 
.cart_1 > img{
    width: 100%;
    height: 22rem;
}
.cart_2{
    width: 26rem;
    height: 36rem;
    /* background: rgb(150, 64, 64); */
    border: 1px solid rgb(216, 210, 210);
}
.cart_2 > img{
    width: 100%;
    height: 22rem;
}
.cart_3{
    width: 26rem;
    height: 36rem;
    /* background: rgb(92, 41, 41); */
    border: 1px solid rgb(216, 210, 210);
}
.cart_3 > img{
    width: 100%;
    height: 22rem;
}
.contenido_presentacion{
    position: absolute;
    top: 30rem;
    right: 100px;
    width: 38%;
    height: 8rem;
    /* background: rgb(134, 112, 112); */
}
.contenido_presentacion > h2{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(247, 233, 233);
    display: flex;
    justify-content: end;
}
.contenido_presentacion > p{
    color: rgb(247, 233, 233);
    font-size: 1.2rem;
    text-align: right;
}
.contenido_presentacion > button{
    color: rgb(247, 233, 233);
    font-size: 1.2rem;
    float: right;
}
.contenido_presentacion > button:nth-child(n){
    /* opacity: 1; */
    /* filter:alpha(opacity=100); */
    background: none;
    padding: 7px 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 12px;
}
.contenido_presentacion > button:last-child{
    background: rgb(37, 146, 37);
    border: none;
    padding: 8px 14px;
}
.card_text{
    width: 90%;
    height: 11rem;
    margin: auto;
    /* background: red; */
    margin-top: 1.8rem;
}
.card_text > span{
    border-radius: 5px;
    /* border: 2px solid black; */
    background: rgb(143, 144, 230);
    padding: 2px 8px;
}
.card_text > span:first-child{
    margin-right: 4px;
    background: rgb(255, 240, 34);
}
.card_text > h2{
    font-weight: bold;
    font-size: 1.6rem;
    font-family: monospace;
    margin-top: 0.5rem;
}
.card_text > p{
    margin-top: 0.5rem;
}
#art_2{
    width: 100%;
    height: 42rem;
    background: rgb(68, 68, 68);
    display: flex;
}
#art_2 > img{
    width: 50%;
    height: 42rem;
}
#art_2 > .cast{
    color: rgb(231, 231, 231);
    padding-left: 1rem;
    padding-top: 2rem;
}
#art_2 > .cast > h2{
    font-size: 3rem;
    font-weight: bold;
}
#art_2 > .cast > p{
    padding-top: 1rem;
}
#art_2 > .cast > button{
    margin-top: 1rem;
    /* background: rgba(255, 0, 0, 0.4);
    opacity: 1; */
    background: transparent;
    padding: 6px 10px;
    color: rgb(231, 231, 231);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 4px;
}
#form{
    width: 75%;
    height: 37rem;
    background: whitesmoke;
    margin: auto;
}
#form > h2{
    font-size: 2rem;
    text-align: center;
}
#form > h3{
    padding-top: 2rem;
    font-size: 0.8rem;
    color: rgb(155, 144, 155);
    text-align: center;
}
#form > p{
    text-align: center;
    color: rgb(155, 144, 155);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#form > p > span{
    text-decoration: underline;
}
#form > form > input{
    width: 49.4%;
    height: 1.6rem;
    float: left;
    font-weight: bold;
}
#form > form > input:first-child{
    margin-right: 1rem;
}
#form > form > textarea{
    margin-top: 1rem;
    color: rgb(155, 144, 155);
    font-size: 1.6rem;
    font-weight: bold;
}
#form > form > p{
    color: rgb(155, 144, 155);
    font-size: 1rem;
    margin-top: 0.4rem;
}
#form > form > button{
    width: 100%;
    height: 3rem;
    background: rgb(226, 198, 75);
    border: none;
    border-radius: 6px;
    color: whitesmoke;
    font-size: 1.3rem;
    margin-top: 1rem;
}
footer{
    width: 100%;
    height: 10rem;
    background: rgb(35, 59, 104);
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > ul{
    width: 75%;
    height: 3rem;
    /* background: rgb(35, 37, 32); */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
footer > ul > li{
    width: 7rem;
    height: 3rem;
    font-weight: bold;
    /* background: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
}